#formgroup{
    margin: auto;
    color: royalblue;
    font-size: 14px;
}
#formcontrol{
    margin: auto;
    padding: auto 10px;
    width: 40%;
    font: 600;
    font-size: 14px;
    padding: 3px auto;
    height: 30px;
    outline: none;
    border: none;
    color: beige;
    background-color: rgba(29, 29, 29, 0.726);
}
#formcontrol:focus :hover{
    outline: none;
    border: none;
}