#confirmed-card{
    background-color: rgba(49, 6, 49, 0.555);
    margin: 10px auto;
    border-left: 6px solid rgb(155, 90, 155);
    height: 150px;
    width: 230px;
    color: beige;
}
#recovered-card{
    background-color: rgba(9, 46, 9, 0.555);
    margin: 10px auto;
    border-left: 6px solid rgb(34, 153, 34);
    height: 150px;
    width: 230px;
    color: beige;
}
#deaths-card{    
    background-color: rgba(80, 23, 23, 0.555);
    margin: 10px auto;
    border-left: 6px solid rgb(216, 66, 66);
    height: 150px;
    width: 230px;
    color: beige;
}
#allcards{
    margin: 10px auto;
}
#lastupdated{

    color: beige;
    font-size: 13;
    font-weight: 600;
    margin: 0 auto;
}